{% extends "orders/layout.html" %}

{% load crispy_forms_tags %}
{% block title %}
Shopping Cart
{% endblock %}

{% block body %}
<h2>Pending Orders</h2>
<ul>
{% for order in pending_orders %}
    <li>{{order}} <a href="cancel/{{order.id}}">Cancel Order</a>
        <ul>
            {% for orderitem in order.orderitem_set.all %}
                <li>{{orderitem}}</li>
            {% endfor %}
        </ul></li>
{% endfor %}
</ul>
<h2>Completed Orders</h2>
<ul>
{% for order in completed_orders %}
    <li>{{order}}</li>
    <ul>
        {% for orderitem in order.orderitem_set.all %}
            <li>{{orderitem}}</li>
        {% endfor %}
    </ul></li>
{% endfor %}
</ul>
<h2>Canceled Orders</h2>
<ul>
{% for order in canceled_orders %}
    <li>{{order}}</li>
    <ul>
        {% for orderitem in order.orderitem_set.all %}
            <li>{{orderitem}}</li>
        {% endfor %}
    </ul></li>
{% endfor %}
</ul>
{% endblock %}
