{% extends "orders/layout.html" %}

{% load crispy_forms_tags %}
{% block title %}Log In{% endblock %}

{% block body %}
<h1>Iniciar sesión</h1>
{% if message %}
    <div>
        {{ message }}
    </div>
{% endif %}
<div class="content-section">
    <form method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class = "border_bottom mb-4">Iniciar sesión</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class = "btn btn-outline-info" type="submit">Iniciar sesión</button>
        </div>

    </form>
    <div class="border-top pt-3">
        <small class = "text-muted">
            ¿Aún no te has registrado? <a class = "ml-2" href="/users/register">¡Regístrate ahora!</a>
        </small>
    </div>
</div>
{% endblock %}
